@import url("https://fonts.googleapis.com/css2?family=Sigmar&display=swap");

body {
  margin: 5px;
  font-family: Sigmar;
  background-color: #002230;
}
.main-wrapper {
  position: relative;
}

.main-wrapper {
  display: grid;
  place-items: center;
}

button {
  margin-top: 30px;
  width: 300px;
  height: 70px;
  font-family: Sigmar, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 30px;
}

textarea {
  text-transform: capitalize;
  letter-spacing: 1px;
  font-family: Sigmar, sans-serif;
  resize: none;
  padding: 30px;
  font-size: 20px;
  height: 300px;
  width: 300px;
}

textarea:focus {
  outline: none;
  border-radius: none;
}

h1 {
  letter-spacing: 2px;
  color: white;
  text-align: center;
}
a {
  text-decoration: none;
  color: white;
}

.information {
  font-family: Sigmar, sans-serif;
  text-align: center;
  position: relative;
  margin-top: 100px;
  font-size: 30px;
  letter-spacing: 20px;
}

.back {
  position: absolute;
  top: 5px;
  left: 5px;
  height: 400px;
  width: 400px;
  border-radius: 100%;
  z-index: -20;
  background-color: #3f4b83;
  animation: 3s infinite alternate slidein;
}

@keyframes slidein {
  from {
    margin-left: 50%;
  }
  to {
    margin-right: 100%;
  }
}

@media only screen and (max-width: 600px) {
  @keyframes slidein {
    from {
      margin-top: 100%;
    }
    to {
      margin-bottom: 30%;
    }
  }

  .back {
    position: absolute;
    top: 0;
    left: 20%;
    right: 0;
    bottom: 0;
    height: 250px;
    width: 250px;
    border-radius: 100%;
    z-index: -20;
    background-color: #3f4b83;
    animation: 3s infinite alternate slidein;
  }
}
